<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="http://tt-lifeweb.cfbx.jp/index.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Templates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">STL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">AIZU</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Atcoder
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="http://tt-lifeweb.cfbx.jp/ABC/ABC192.html">ABC192</a>
            <a class="dropdown-item" href="http://tt-lifeweb.cfbx.jp/ABC/ABC191.html">ABC191</a>
            <a class="dropdown-item" href="http://tt-lifeweb.cfbx.jp/ABC/ABC190.html">ABC190</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>